<!DOCTYPE html>
<html>
<head>

	<title>ROOT</title>
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
	</script>
</head>
<body>
  <form method="post" action="/users/adduser">
    <input name="username" />
    <input name="email"/>
    <input name="password"/>
    <input name="fullname"/>
    <input name="zipcode"/>
    <input type="submit" class="btn-primary"/>
  </form>
</body>
</html>
